{% extends "@Zelda/layout.html.twig" %}
{% block title %}Categorie{% endblock %}
{% block pageContent %}
    <header class="jumbotron hero-spacer headerIndex">
        <h1>Armes</h1>
        <p>Découvrez toutes les armes et boucliers de Zelda Breath of the Wild, où les trouver leur puissance et leurs effets de base, tels qu'ils sont notés dans l'encyclopédie d'Hyrule in-game.</p>
    </header>
    <hr>
    <div class="text-center breadcrumb">
        <div class="row">
            <div class="controls">
                <button class="filter btn-filter btn btn-primary btn-lg"  data-filter="all">Tous</button>
                {% for categ in lesCateg %}
                    <button class="filter btn-filter btn btn-primary btn-lg" data-filter=".{{ categ.libellenoespace }}">{{ categ.libelle }}</button>
                {% endfor %}
                <button class="filter btn-filter btn btn-primary btn-lg"  data-sort="name:asc">(A - Z)</button>
                <button class="filter btn-filter btn btn-primary btn-lg"  data-sort="name:desc">(Z -A)</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter" id="conteneur">
            {% for armes in lesArmes %}
                <div class="col-md-2 portfolio-item mix {{ armes.laCategorie.libellenoespace }}" data-name="{{ armes.libelle }}">
                    <a href="{{ path('zelda_item', {'id': armes.id}) }}">
                        <img class="img-responsive" src="{{ armes.vignetteUrl }}" alt="" width="700" height="400">
                    </a>
                    <h4>
                        <a href="{{ path('zelda_item', {'id': armes.id}) }}">{{ armes.libelle }}</a>
                    </h4>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            $('#conteneur').mixItUp();
        });
    </script>
{% endblock %}
