{% extends "@Zelda/layout.html.twig" %}
{% block title %}Categorie Materiau{% endblock %}
{% block pageContent %}
    <header class="jumbotron hero-spacer headerIndex">
        <h1>Materiaux</h1>
        <p>Découvrez tous les ingrédients, matériaux et trésors de Zelda Breath of the Wild, leurs emplacements et leurs effets, tels qu'ils sont notés dans l'encyclopédie d'Hyrule in-game.</p>
    </header>
    <hr>
    <div class="text-center breadcrumb">
        <div class="row">
            <div class="controls">
                {% for categ in lesCateg %}
                    <button class="filter btn-filter btn btn-primary btn-lg" data-filter=".{{ categ.libellenoespace }}">{{ categ.libelle }}</button>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter" id="conteneur">
            {% for materiau in lesMateriaux %}
                <div class="col-md-2 portfolio-item mix {{ materiau.laCategorieMateriau.libellenoespace }}">
                    <a href="{{ path('zelda_materiau', {'id': materiau.id}) }}">
                        <img class="img-responsive" src="{{ materiau.vignetteUrl }}" alt="" width="700" height="400">
                    </a>
                    <h4>
                        <a href="{{ path('zelda_materiau', {'id': materiau.id}) }}">{{ materiau.libelle }}</a>
                    </h4>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            $('#conteneur').mixItUp();
        });
    </script>
{% endblock %}
