{% extends "@Zelda/layout.html.twig" %}
{% block title %}Categorie Animaux{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset('css/customCateg.css') }}" rel="stylesheet">
{% endblock %}
{% block pageContent %}
    <header class="jumbotron hero-spacer headerIndex">
        <h1>Animaux</h1>
        <p>Découvrez tous les Animaux de Zelda Breath of the Wild, où les trouver , tels qu'ils sont notés dans l'encyclopédie d'Hyrule in-game.</p>
    </header>
    <hr>
    <div class="text-center breadcrumb">
        <div class="row">
            <div class="controls">
                <button class="filter btn-filter btn btn-primary btn-lg"  data-filter="all">Tous</button>
                {% for categ in lesCategAnimaux %}
                    <button class="filter btn-filter btn btn-primary btn-lg" data-filter=".{{ categ.libelleNoEspaceAnimaux }}">{{ categ.libelle }}</button>
                {% endfor %}
                <button class="filter btn-filter btn btn-primary btn-lg"  data-sort="name:asc">(A - Z)</button>
                <button class="filter btn-filter btn btn-primary btn-lg"  data-sort="name:desc">(Z -A)</button>
                <input class="btn btn-primary " type="text" id="input" placeholder="Rechercher" ><img class="bouton_custom" src="{{ asset('images/search.png') }}">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter" id="conteneur">
            {% for animal in lesAnimaux %}
                <div class="col-sm-3 col-xs-6 mix {{ animal.laCategorieAnimaux.libelleNoEspaceAnimaux }}" data-name="{{ animal.libelle }}">
                    <a href="{{ path('zelda_animaux', {'id': animal.id}) }}">
                        <img class="img-responsive thumbnail autre_projet" src="{{ animal.vignetteUrl }}" alt="" width="700" height="400">
                    </a>
                    <h4 class="title">
                        <a href="{{ path('zelda_animaux', {'id': animal.id}) }}">{{ animal.libelle }}</a>
                    </h4>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            $('#conteneur').mixItUp();
        });
    </script>
    <script>
        $(function() {

            $("#conteneur").mixItUp();

            var inputText;
            var $matching = $();

            // Delay function
            var delay = (function(){
                var timer = 0;
                return function(callback, ms){
                    clearTimeout (timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            $("#input").keyup(function(){
                // Delay function invoked to make sure user stopped typing
                delay(function(){
                    inputText = $("#input").val().toLowerCase();

                    // Check to see if input field is empty
                    if ((inputText.length) > 0) {
                        $( '.mix').each(function() {
                            $this = $("this");

                            // add item to be filtered out if input text matches items inside the title
                            if($(this).children('.title').text().toLowerCase().match(inputText)) {
                                $matching = $matching.add(this);
                            }
                            else {
                                // removes any previously matched item
                                $matching = $matching.not(this);
                            }
                        });
                        $("#conteneur").mixItUp('filter', $matching);
                    }

                    else {
                        // resets the filter to show all item if input is empty
                        $("#conteneur").mixItUp('filter', 'all');
                    }
                }, 200 );
            });
        })
    </script>
{% endblock %}