<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">

    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    <!-- ==========================
                 CSS
    =========================== -->

    <link type="text/css" href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('css/heroic-features.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('css/portfolio-item.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('css/custom.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('css/lity.min.css') }}" rel="stylesheet">



    {% endblock %}
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body>
{% block navbar %}
<!-- Navigation -->
    <div class="example3">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('zelda_homepage') }}"><img src="{{ asset('images/zeldapedia.png') }}" alt="Dispute Bills">
                    </a>
                </div>
                <div id="navbar3" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="{{ path('zelda_categorie') }}">Armes</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monstres<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('zelda_categorieMonstre', {'id':1}) }}">Petit Monstres</a></li>
                                <li><a href="{{ path('zelda_categorieMonstre', {'id':2}) }}">Mokoblins, Moblins et Lézalfos	</a></li>
                                <li><a href="{{ path('zelda_categorieMonstre', {'id':3}) }}">World boss et dérivés	</a></li>
                                <li><a href="{{ path('zelda_categorieMonstre', {'id':4}) }}">Gardiens et Yigas</a></li>
                                <li><a href="{{ path('zelda_categorieMonstre', {'id':5}) }}">Créatures mystiques et boss</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Cuisine</a>
                        </li>
                        <li>
                            <a href="#">Matériaux</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    </div>
{% endblock %}
<!-- Page Content -->
<div class="container">
    {% block pageContent %}
    {% endblock %}
    {% block footer %}
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Breath of the Baguette</p>
                </div>
            </div>
        </footer>
    {% endblock %}
</div>
<!-- /.container -->
<!-- jQuery -->
{% block javascript %}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/mixitup.min.js') }}"></script>
<script src="{{ asset('js/lity.min.js') }}"></script>
{% endblock %}
</body>
</html>
